.formStyle {
  height: 45vh;
  width: 30%;
  background-color: rgb(188, 188, 241);
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

h3 {
  padding: 0.5rem;
  text-align: center;
}

.input {
  padding: 0.5rem;
}

.input > input {
  padding: 0.3rem;
}

.button {
  padding: 0.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fff;
  margin-left: 0.5rem;
}

.button:hover {
  background-color: #e9eeeee0;
}
